{{define "absence-request-question.html"}}
{{template "header" .}}

<div class="email-body">
    {{template "moto-brand" .}}
    <h1>Rückfrage zu deinem Antrag</h1>

    <p>Hallo {{.FirstName}},</p>

    <p>deine Leitung hat eine Rückfrage zu deinem Abwesenheitsantrag gestellt:</p>

    <div class="highlight-box">
        <p><strong>{{.AbsenceTypeLabel}}</strong><br>
        Zeitraum: {{.DateRange}}</p>
        <p>Rückfrage: {{.DecisionNote}}</p>
    </div>

    <p>Du kannst deine Antwort in der Zeiterfassung ergänzen und den Antrag erneut einreichen.</p>

    <div class="button-wrapper" style="text-align: center;">
        <a class="button" href="{{.LinkURL}}">Antrag anpassen</a>
    </div>

    <div class="link-box">
        <a href="{{.LinkURL}}">{{.LinkURL}}</a>
    </div>
</div>

{{template "footer" .}}
{{end}}
