{{define "operator-email-change-notify.html"}}
{{template "header" .}}

<div class="email-body">
    {{template "moto-brand" .}}
    <h1>E-Mail-Änderung angefordert</h1>
    <p>Hallo {{.DisplayName}},</p>
    <p>es wurde eine Änderung deiner E-Mail-Adresse für dein moto-Operator-Konto angefordert. Die neue E-Mail-Adresse lautet: <strong>{{.MaskedNewEmail}}</strong></p>

    <div class="highlight-box">
        <p>Falls du diese Änderung nicht veranlasst hast, kontaktiere uns bitte umgehend unter <a href="mailto:kontakt@moto.nrw">kontakt@moto.nrw</a>, damit wir dein Konto sichern können.</p>
    </div>

    <p class="security-note">Diese E-Mail dient nur zur Information. Du musst nichts weiter tun, wenn du die Änderung selbst angefordert hast.</p>
</div>

{{template "footer" .}}
{{end}}
