{{define "password-reset.html"}}
{{template "header" .}}

<div class="email-body">
    <div class="brand">
        <img src="{{.LogoURL}}" alt="moto logo" width="160" height="48" />
    </div>
    <h1>Password Reset Request</h1>
    <p>Hello,</p>
    <p>We received a request to reset your moto Project Phoenix account password. Click the button below to choose a new password.</p>
    <p class="button-wrapper">
        <a class="button" href="{{.ResetURL}}">Reset Password</a>
    </p>
    <p class="highlight">This link expires in {{.ExpiryMinutes}} minutes.</p>
    <p>If the button above does not work, copy and paste this link into your browser:</p>
    <p><a href="{{.ResetURL}}">{{.ResetURL}}</a></p>
    <p class="security-note">If you didn't request this password reset, you can safely ignore this email. Your password won't change unless you use the link above.</p>
</div>

{{template "footer" .}}
{{end}}
