run-name: main workflow
on: 
  push:
    branches:
      - main
      - master
      - develop
      - development
  pull_request:
    branches:
      - main
      - master
      - develop
      - development
defaults:
  run:
    shell: bash

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  test:
    uses: ./.github/workflows/test.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}