on: [workflow_call]
defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Go and dependencies
        uses: ./.github/actions/setup-go-and-deps
      - name: test
        run: cd backend && go test -v ./...